<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>태스크 추가</title>
</head>
<body>
<h2>태스크 추가하기</h2>

<form method="post" th:action="@{|/projects/${projectId}/tasks|}">
    <div>
        <label for="title">태스크 제목:</label>
        <input type="text" id="title" name="title" required />
    </div>
    <br />
    <div>
        <label for="content">태스크 내용:</label>
        <textarea id="content" name="content" required></textarea>
    </div>
    <br />

    <div>
        <label for="milestone">마일스톤:</label>
        <select id="milestone" name="milestoneId">
            <option th:each="milestone : ${milestones}" th:value="${milestone.id}" th:text="${milestone.title}"></option>
        </select>
    </div>
    <br />

    <div>
        <label>태그:</label>
        <div th:each="tag : ${tags}">
            <input type="checkbox" th:id="'tag-' + ${tag.id}" th:name="'tagIds'" th:value="${tag.id}" />
            <label th:for="'tag-' + ${tag.id}" th:text="${tag.name}"></label>
        </div>
    </div>
    <br />

    <div>
        <button type="submit">태스크 추가</button>
    </div>
</form>
<br />

<div>
    <a th:href="@{|/projects/${projectId}/tasks|}">태스크 목록으로 돌아가기</a>
</div>
</body>
</html>